<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>秘书分论坛界面</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.15.1/lib/index.js"></script>
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.15.1/lib/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/secretaryinterface.css">
</head>
<body>
    <header>
        论坛信息
    </header>
<div id="secretary">
    <template>
      <el-table
        :data="tableData"
        style="width: 35%"
        height="250">
        <el-table-column
          fixed
          prop="userid"
          label="账号"
          width="150">
        </el-table-column>
        <el-table-column
          prop="name"
          label="姓名"
          width="120">
        </el-table-column>
        <el-table-column
          prop="meetingid"
          label="所属分论坛"
          width="120">
        </el-table-column>
      </el-table>
    </template>
    <el-row>
        <el-button type="primary"><a href="test.html">发送通知</a></el-button>
      </el-row>
</div>
<script src="../static/js/secretaryinterface.js"></script>

</body>
</html>